@import "tailwindcss";

/* Define the Gilroy font */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('woff2'),
       url('/fonts/Gilroy-Regular.ttf') format('woff');
}

/* @font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
       url('./fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} */

/* Apply Gilroy as the default font */
body {
  font-family: 'Gilroy', sans-serif;
}

body{
  background-color: black;
}
*{
  color: #fff;
}

#tasklist::-webkit-scrollbar{
  display: none;
}

/* Define the wiggle animation */
@keyframes wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(4deg);
  }
}

/* Apply the animation to the .animate-wiggle class */
.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
  display: inline-block; /* Ensure the emoji is treated as a block-level element */
}